
<h2> <%=@recipe.ingredients%></h2>
  <form method="POST" action="/recipes/<%=@recipe.id%>">
    <input id="hidden" type="hidden" name="_method" value="patch">
    <ul>
      <li>
        <label for="name">Name</label>
        <input id="name" value="<%=@recipe.name%>" type="text" name="name" />
      </li>
      <li>
        <label for="ingredients">Ingredients</label>
        <input type="text" value="<%=@recipe.ingredients%>" name="ingredients" />
      </li>
      <li>
        <label for="cook_time">Cook Time</label>
        <input type="integer" value="<%=@recipe.cook_time%>"name="cook_time" />
      </li>
      </ul>
        <input type="submit" value="submit" />
   </form>
